/* Para resetar as margens e paddings */
* {
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
  /* Para facilitar o cálculo de rem (1rem = 10px) */
  scroll-behavior: smooth;
  /* Para rolagem suave */
}

/* Configurações do corpo */
body {
  font-family: "Montserrat", serif;
  font-size: 2rem;
  line-height: 1.5;
}

/* Fontes para os títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Gothic", serif;
  ;
}

/* Tamanhos da fonte para os títulos */
h1 {
  font-size: 6rem;
  text-transform: uppercase;
}


h2 {
  font-size: 5.5rem;
}


h3 {
  font-size: 5rem;
}


h4 {
  font-size: 4.5rem;
}


h5 {
  font-size: 4rem;
}


h6 {
  font-size: 3.5rem;
}

/* Para remover o sublinhado dos links */
a {
  text-decoration: none;
}

/* Espaçamento entre parágrafos */
p {
  margin-bottom: 3rem;
}

/* Classes para imagens de fundo */
.backgroud-01 {
  background-image: url('../img/bg01-ativo.svg');
  background-size: cover;
  background-position: center center;
  color: aliceblue;
}

.backgroud-2 {
  background-image: url('../img/bg02-ativo.svg');
  background-size: cover;
  background-position: center center;
  color: aliceblue;
}

.backgroud-3 {
  background-image: url('../img/bg03-ativo.jpg');
  background-size: cover;
  background-position: center center;
  color: aliceblue;
}

.backgroud-4 {
  background-image: url('../img/bg04-ativo.png');
  background-size: cover;
  background-position: center center;
  color: aliceblue;
}

.backgroud-5 {
  background-image: url('../img/bg05-ativo.png');
  background-size: cover;
  background-position: center center;
  color: #a5d86f;
}

.conteudo-principal {
  /* para definir o estilo do container principal */
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem 3rem;
}

.section {
  min-height: 100vh;
  /* altura mínima 100% da janela (viewport) */
}

/* espaçamento do menu */
.espacamento-menu {
  height: 8.5rem;
}

/* Estilização do menu */
.menu {
  background-color: #DEE4DE;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 0.1rem solid #b27cff;
}

/* Layout do menu */
.conteudo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 3rem;
}

.menu ul {
  list-style: none;
  display: flex;
}

/* Estilos do menu ao passar o mouse */
.menu ul li a {
  display: block;
  padding: 2rem;
  /* para separar a opções do menu */
  font-size: 1.8rem;
  position: relative;
}


.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: #6a2fe6;
  transition: all 300ms ease-in-out;
}


.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

/* Seção de introdução */
.intro {
  position: relative;
  top: -8rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
}

.conteudo-intro,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.conteudo-intro h2 {
  font-size: 7rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 1.2;
}

/* Ajuste da imagem da introdução */
.intro-img img {
  max-width: 100%;
  height: auto;
}


.story-content {
  max-width: 64rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}


.conteudo-grade {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}


.cabecalho-grade {
  margin-bottom: 1rem;
}


.descricao-grade {
  padding-bottom: 5rem;
}

/* Grade de exibição */
.grade {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  counter-reset: grid-counter;
}


.grade h3 {
  font-size: 4rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 3rem;
}


.grade h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 6rem;
  font-style: italic;
  top: -2.2rem;
  left: 0;
}


.galeria-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}


.galeria-img img {
  transition: all 300ms ease-in-out;
}


.galeria-img img:hover {
  transform: translate(-3%, 3%) scale(1.2);
}

/* Ajustes da tabela responsiva */
.responsive-table {
  overflow: hidden;
  overflow-y: auto;
}


table {
  min-width: 36rem;
  width: 100%;
  border-collapse: collapse;
}


table td,
table th {


  padding: 1rem;
  border: 0.1rem solid rgb(182, 182, 187);
}


table th {
  background: #bec2bd9a;
}

/* Rodapé */
.rodape-bg {
  text-align: center;
  font-size: 1.6rem;
}

.rodape-bg p {
  margin: 0;
  padding: 3rem;
  color: #444;
}


.color_green {
  color: #a5d86f;
}

.color_green2 {
  color: #abe86a;
}

.new-color {
  color: rgb(255, 255, 255);
}

.img-logo img {
  width: 200px;
  height: auto;
  text-align: center;
}

.colorcinza {
  color: #333333
}

.color_tt {
  color: #aeff00;
}

.contact-text .text-contato h2 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #333333;
}


.text-contato p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #333333;
}


/* Botão do WhatsApp */
.botao-whatsapp {
  display: block;
  /* Faz com que o botão ocupe a largura e fique abaixo do texto */
  background-color: #25D366;
  color: white;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
  /* Espaço entre o texto e o botão */
  width: auto;
  /* A largura do botão será ajustada automaticamente */
  margin-left: auto;
  margin-right: auto;
  /* Alinha o botão ao centro */
}


.botao-whatsapp:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.botao-whatsapp img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  vertical-align: middle;
}


.fechar-menu {
  display: none;
}

/* Botão de voltar ao topo */
.voltar-topo {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: aliceblue;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #444;
  transform: rotate(-90deg);
  border: 0.1rem solid #484b49;
}

/* Responsividade para telas menores */
@media (max-width:800px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .galeria-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .galeria-img img {
    width: 100%;
  }

  .menu {
    bottom: 0;
    text-align: center;
  }

  .conteudo-menu,
  .conteudo-menu ul {
    flex-direction: column;
    justify-content: center;
  }

  .conteudo-menu {
    height: 100vh;
  }

  .menu {
    display: none;
  }

  .fechar-menu02::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: #a3b6c8;
    color: #07ff62;
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .fechar-menu:checked~.menu {
    display: block;
  }

  .cfechar-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .espacamento-menu {
    display: none;
  }
}